<div>
    <li>
        <a href="https://www.linkedin.com/in/samantha-zenezi-a48578239/" target="_blank">
            <img src="/assets/linkedin.svg" alt="icon-linkedin">
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/sa.zenezi/" target="_blank">
            <img src="/assets/insta.svg" alt="icon-instagram">
        </a>
    </li>
    <li>
        <a href="https://github.com/samanthazenezi?tab=repositories" target="_blank">
            <img src="/assets/github.svg" alt="icon-github">
        </a>
    </li>
</div>
